<footer>
    <p>&copy; 2025 AJ Tracker. All rights reserved.</p>
    <p>
      <a href="/404">Privacy Policy</a> |
      <a href="/404">Tech Stack</a> |
      <a href="/404">Contact Us</a>
    </p>
</footer>
</body>
</html>