<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="home-main">
    <a href="/404" class="home-box">Developer Box</a>
    <a href="/producthome" class="home-box">Track Products</a>
</div>
<%- include('partials/footer') %>
